.stockCard {
    margin-top: 2%;
    background: #f2f4f4;
    border: 3px double black;
    border-radius: 5px;
}

.curr-buttons {
    margin-bottom: 10px;   
}

.title-name {
    font-family: Arial, Helvetica, sans-serif;
}