.CardButtonGroup {
    width: 100%;
}

#addPortfolio {
    width: 50%;
}

#addStock {
    width: 22%;
}

#viewGraph {
    width: 22%;
}

#removeStock {
    width: 22%;
}

#deletePortfolio {
    width: 22%;
}

.stock-button {
    border: 2px solid black;
    border-radius: 10px;
}

.stock-button:hover {
    color: black;
    background-color: gray;
}