.CardButtonGroup {
    width: 100%;
}

#addPortfolio {
    width: 50%;
}

#addStock {
    width: 22%;
}

#viewGraph {
    width: 22%;
}

#removeStock {
    width: 22%;
}

#deletePortfolio {
    width: 22%;
}