table {
  width: 95%;
}

.tableHead th{
  background-color: white;
}

.portfolioTable {
  border: 3px solid black;
  border-radius: 5px;
}

.portfolioTable tr:nth-child(odd) {
  background-color: #a5a5a5;
}

.portfolioTable tr:nth-child(even) {
  background-color: lightgrey;
}

.portfolioTable td{
  border: 1px solid black;
}

.table-contents {
  border: 2px solid black;
}

tfoot {
    /*display: table-footer-group;*/
    border-color: inherit;
  }

tfoot td {
  background-color: white;
}

