table {
  width: 95%;
}

.portfolioTable {
  border: 1px solid black;
}

.portfolioTable td{
  border: 1px solid black;
}

tfoot {
    /*display: table-footer-group;*/
    border-color: inherit;
  }

